@import forms.TacticGroupForm._
@import models.repositories.FloorWithMap
@import models.tables.OperatorRow
@import helper._

@(form: Form[TacticGroupData], operators: Seq[OperatorRow], floors: Seq[FloorWithMap], createUrl: Call)(implicit messagesProvider: MessagesProvider, request: Request[AnyContent], flash: Flash)

@formattedOperators = @{operators.map(o => (o.id.toString, o.name))}

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/leaflet.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/tactic.js")" type="text/javascript"></script>
}

@styles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/leaflet.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/tactic.css")">
}

@main("Create Tactic", scripts, styles) {
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @if(flash.get("message").isDefined) {
    <div class="alert alert-success" role="alert">
        @flash.get("message").getOrElse("Success")
    </div>
    }

    @b4.horizontal.form(createUrl, "col-md-2", "col-md-10", 'autocomplete -> "off") { implicit hfc =>
        @CSRF.formField
        <div class="row">
            <div class="col-md-5">
                <h3>Group</h3>
                @b4.hidden(form("tacticGroup.id"))

                @b4.select(form("tacticGroup.mapFloorId"), '_label -> "Map floor") { implicit values =>
                    @if(form("tacticGroup.mapFloorId").value.isEmpty) {
                        <option value="" class="blank" selected disabled="disabled">Select an option</option>
                    }
                    @floors.map { f =>
                        @if(f.floor.id == form("tacticGroup.mapFloorId").value.getOrElse(-1)) {
                            @b4.selectOption(f.floor.id.toString, (f.mapRow.name + " (" + Messages("level." + f.floor.level) + ")"), 'selected -> true, Symbol("data-image") -> routes.Assets.at(f.floor.file))
                        } else {
                            @b4.selectOption(f.floor.id.toString, (f.mapRow.name + " (" + Messages("level." + f.floor.level) + ")"), Symbol("data-image") -> routes.Assets.at(f.floor.file))
                        }
                    }
                }

                @b4.text(form("tacticGroup.locationName"), '_label -> "Location name")
                <div class="hidden-input-container">
                @helper.repeat(form("tacticGroup.coordinates"), min = 4) { coordinateField =>
                        @b4.text(coordinateField("x"), 'hidden -> true, 'value -> "0")
                        @b4.text(coordinateField("y"), 'hidden -> true, 'value -> "0")
                }
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">x</label><div class="col-md-4"><input type="text" id="rect-x" class="form-control coordinate-rect"></div>
                    <label class="col-form-label col-md-2">y</label><div class="col-md-4"><input type="text" id="rect-y" class="form-control coordinate-rect"></div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Width</label><div class="col-md-4"><input type="text" id="rect-width" class="form-control coordinate-rect"></div>
                    <label class="col-form-label col-md-2">Height</label><div class="col-md-4"><input type="text" id="rect-height" class="form-control coordinate-rect"></div>
                </div>

                <h3>Tactics</h3>
                <div class="tactics-container">
                @helper.repeat(form("tactics"), min = 1) { tacticField =>
                    <div class="tactic-form">
                        @b4.hidden(tacticField("id"))
                        @b4.hidden(tacticField("tacticGroupId"))

                        @b4.text(tacticField("name"), '_label -> "Name")
                        @b4.text(tacticField("description"), '_label -> "Description")
                        @helper.repeat(tacticField("links")) { linkField =>
                            @b4.text(linkField, '_label -> "Link")
                        }
                        @b4.text(tacticField("videoUrl"), '_label -> "Video URL")
                        @b4.text(tacticField("thumbnailUrl"), '_label -> "Thumbnail URL")
                        @b4.select(tacticField("operatorId"), options = formattedOperators, '_label -> "Operator", '_default -> "Select an option")

                        @b4.button('class -> "remove-tactic btn btn-danger")  { Remove tactic }
                    </div>
                }
                </div>
                @b4.button('class -> "add-tactic btn btn-primary") { Add another tactic }
                <!-- Prevent implicit submission of the form -->
                <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                <button type="submit" class="btn btn-primary save-btn" style="">Save tactics</button>
            </div>

            <div class="col-md-7">
                <h3>Map <span class="current-map"></span></h3>
                <div id="mapDemo"></div>
                <div id="mouse-coordinates"></div>
            </div>
        </div>
    }
}
