@import models.repositories.TacticGroup
@import models.repositories.MapWithFloors

@(map: MapWithFloors, groups: Seq[TacticGroup])(implicit messagesProvider: MessagesProvider, flash: Flash)

@main("Tactic overview") {
  @if(flash.get("message").isDefined) {
    <div class="alert alert-success" role="alert">
    @flash.get("message").getOrElse("Success")
    </div>
  }

  <a href="@routes.MapController.index()"><button type="submit" class="btn" >Back to maps</button></a>
  <h1 class="lead">Tactics overview for map @map.name</h1>

  <div class="d-flex justify-content-center">
    <ol style="list-style: none; padding: 0;">
      @for(f <- groups.sortBy(_.mapFloorId)(Ordering[Int].reverse).groupBy(_.mapFloorId)) {
        <img class="floor-file-thumb" src="@routes.Assets.at(map.floors.filter(_.id == f._1).head.file)" title="@Messages(s"level.${map.floors.filter(_.id == f._1).head.level}")" alt="Floor">
        @for(g <- f._2) {
          <li style="text-align: left">
            @g.locationName <a href="@routes.TacticController.edit(g.id)">edit (@g.tactics.length tactics)</a>
          </li>
        }
      }
    </ol>
  </div>
  <a href="@routes.TacticController.create()"><button type="submit" class="btn btn-primary" style="">Create new tactic group</button></a>
}
