<script id="popup-template" type="text/template">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="tactic-popup-indicators">
            {{#tactics}}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ index }}">
            <img src="/images/operators/{{ operatorId }}.svg" alt="Operator">
            </li> {{/tactics}}
        </ol>

        <div class="carousel-inner">
            {{#tactics}}
            <div class="carousel-item tactic-popup {{ active }}">
                <div class="title"><h4>{{name}}</h4></div>
                <div class="thumbnail"><img src="{{{ thumbnailUrl }}}" alt="{{ name }}"></div>
                <div class="description"><strong>Info</strong> <p>{{ description }}</p></div>
                <div class="links"><strong>Links</strong> {{ #links }}
                    <a href="{{.}}" target="_blank"><p>- {{.}}</p></a> {{/links}}
                    </div>
                <small>Last updated {{ modified }}</small>
             </div>
            {{/tactics}}
            <!--                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
            <!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
            <!--                    <span class="sr-only">Previous</span>-->
            <!--                </a>-->
            <!--                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
            <!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
            <!--                    <span class="sr-only">Next</span>-->
            <!--                </a>-->
        </div>
    </div>
</script>