body {
    background-color: #333;
    color: white;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

html, body {
    height:100%;
}

.nav-text-light {
    color: #f8f9fa;
}

.nav-tabs .nav-link.active {
    color: #495057;
}

.leaflet-popup-content-wrapper {
    min-height:405px;
}

.leaflet-popup-content {
    width:400px !important;
    min-height:405px;
}

.leaflet-popup-content p {
    margin: 6px 0;
}

.leaflet-popup-content b {
    margin-top:5px;
}

.tactic-popup-indicators {
    list-style:none;
    position:absolute;
    right: 0px;
    top: -12px;
    z-index:10;
}

.tactic-popup-indicators li {
    float:left;
}

.tactic-popup-indicators li img {
    width: 50px;
}

.tactic-popup .title {
    width: 50%;
    float: left;
}

.tactic-popup .thumbnail {
    width: 100%;
    max-width:400px;
}

.tactic-popup .thumbnail img {
    width: 100%;
    padding-bottom: 5px;
}

.tactic-popup .description {
    width: 50%;
    float: left;
}

.tactic-popup .links {
    width: 50%;
    float: right;
}

.tactic-popup .links a p {
    font-size: 10px;
}

.floor-file-thumb {
    width: 200px;
}

.hidden-input-container .form-group {
    margin: 0;
}