/* Basic settings for map */
#mapDemo {
  width: 100vw;
  height: 100vh;
  background: black;
}

/* Search bar */
.input-group {
  position:fixed;
  z-index: 401; /* minimum z-index for content to sit on top of map */
  width: 100vw;
}

@media only screen and (min-width: 501px) {
    .input-group {
        width: 500px;
    }
} /* expand search bar to 100vw on small screens */

/* Open/close panel button */
#panelBtn{
  position:fixed;
  z-index: 401;
} /* allows panel button to sit on top of content */

#panel{
  position: fixed;
  z-index: 401;
  width: 100vw;
  left: -500px;
  top:100px;
  bottom: 0;
  overflow-y: scroll;
  background: #FFFFFF;
  transition: all 0.3s; /* gives a "sliding" effect */
}

@media only screen and (min-width: 500px) {
    #panel {
        width: 500px;
        left: -500px;
    }
} /* expand sidebar to 100vw on small screens (when active) */

#panel.active {
    left: 0;
} /* show sidebar when active, see JS */


/* Autocomplete */
.ui-widget-content{
  z-index:401;
}