
/* Basic settings for map */
#mapDemo {
    height: 100%;
    background: black;
}

.coordinate-group {
    display: inline-block;
    padding-top: 10px;
    width: 40%;
    margin-left: 10px;
}

.save-btn {
    width: 100%;
    padding: 10px;
}

.remove-tactic, .add-tactic {
    float:left;
}