@font-face {
    font-family: "Scout Condensed";
    src:
        url("fonts/ScoutCond-Light.otf") format("opentype");
    }

body {
    font-family: 'Scout Condensed';
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    margin: 0px;
    background-color: rgb(13, 13, 13);
    background-image: url('images/maps/map-background.jpg');
    background-repeat: repeat;
    background-position: center;
}

h1 {
    font-size: 135px;
}

h2 {
    font-size: 100px;
}



.map {
    background-image: url('images/maps/map-consulate.png');
    width: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.map .title {
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 0 auto;
    margin-bottom: -10%;
    align-items: center;
    width: 80%;
    max-width: 1080px;
}

.map .title img {
    width: 12%;
    height: 12%;
    padding-top: 15px;
}

.map .title h1 {
    padding-left: 0%;
}



.ban {
    padding: 3% 0;
}

.ban h2 {
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

.ban-list {
    margin: 0 auto;
    width: 80%;
    max-width: 1250px;
    text-align: center;
}


.ban-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}


.ban-operator-container {
    margin: 50px 50px 10px;
    width: 22.5%;
}

.ban-operator-card {
    position: relative;
    display: flex;
    border: 0px solid red;

}

.ban-operator-card-avatar {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.ban-operator-card-side {
    display: block;
    position: absolute;
    left: 15%;
    bottom: 22.5px;
    margin: 0 auto;
    width: 15%;
    height: auto;
}

.ban-operator-card-overlay {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: auto;
}


.ban-operator-card-percentage {
    position: absolute;
    bottom: 0px;
    right: 5%;
    font-size: 100px;
    letter-spacing: 0px;
}

.ban-operator-card-name {
    position: absolute;
    bottom: 100px;
    right: 5%;
    font-size: 50px;
    letter-spacing: 0px;
}


.ban-operator-bar {
    position: absolute;
    left: -50px;
    height: 44%;
    width: 50px;
    bottom: 0px;
    background-color: rgba(234, 112, 22, 0.75);
}

.ban-operator-line {
    position: absolute;
    right: 5%;
    height: 5px;
    width: 110px;
    bottom: 100px;
    background-color: #ea7016;
}






.sites {
    text-align: center;
}