@(patchForm: Form[String], patches: Map[String, String], maps: List[MapOperatorBans])(implicit messagesProvider: MessagesProvider)

@indexedMaps = @{maps.zipWithIndex}
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@import helper._

@main("Home") {
  <p class="lead">Explore Rainbow six siege eSports statistics and plan your own strategy around it</p>

  <div class="d-flex justify-content-center">
    <h2>Popular bans</h2>
  </div>
  <div class="d-flex justify-content-center">

    @form(action = routes.HomeController.index) {
      @b4.select(patchForm("patch"), options = patches.toSeq, '_label -> "Since patch", 'multiple -> false)
      @b4.submit('class -> "btn btn-primary"){ <i class="fa fa-ok"></i> Submit }
    }
  </div>

  <div class="d-flex justify-content-center">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      @for((map, index) <- indexedMaps) {
        <li class="nav-item">
          <a class="nav-link nav-text-light @if(index == 0) {active}" id="@map.name-tab" data-toggle="tab" href="#@{map.name}" role="tab" aria-controls="@map.name" aria-selected="@if(index == 0) {true} else {false}">@map.name</a>
        </li>
      }
    </ul>
  </div>

  <div class="d-flex justify-content-center">
    <!-- Tab panes -->
    <div class="tab-content">
      @for((map, index) <- indexedMaps) {
        <div class="tab-pane @if(index == 0) {active}" id="@map.name" role="tabpanel" aria-labelledby="@map.name-tab">
          <div class="d-flex justify-content-center mb-3">
            @for(ban <- map.bans) {
              <div class="p-2">
                <p>@ban.operator</p>
                <p>@{BigDecimal(ban.percentage).setScale(2, BigDecimal.RoundingMode.HALF_UP)} %</p>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
}
