@import helper._
@import models.tables.MapRow

@(maps: Seq[MapRow])(implicit messagesProvider: MessagesProvider)

@main("Map overview") {
  <h1 class="lead">Overview page of maps</h1>

  <div class="d-flex justify-content-center">
    <ul style="list-style: none">
      @for(m <- maps) {
        <li>
          <p>@m.name <a href="@routes.TacticController.index(m.slug)">Manage tactics</a></p>
          <a href="@routes.MapController.map(m.slug)">
            <img title="@m.name" src="@routes.Assets.at(s"maps/${m.slug}.jpg")">
          </a>
        </li>
      }
    </ul>
  </div>
}
