@import helper._
@import models.repositories.MapWithFloors

@(map: MapWithFloors)(implicit messagesProvider: MessagesProvider)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/leaflet.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/mustache.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/map.js")" type="text/javascript"></script>
}

@styles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/leaflet.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/map.css")">
}

@main("Map", scripts, styles) {
  <h2>@map.name</h2>

  @for(f <- map.floors) {
    <button class="btn floor-button" data-level="@f.level" data-floor-id="@f.id" data-image="@routes.Assets.at(f.file)">
      @Messages(s"level.${f.level}")
    </button>
  }

  <div class="d-flex justify-content-center">
    <div id="mapData" data-tactics-url="@routes.MapController.tactics(map.slug)"></div>
    <div id="mapDemo"></div>

    @templates.popupTemplate()
  </div>
}
